---

import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { systemData } from '~/content/texts';
import StructuredText from '~/components/widgets/StructuredText.astro';


const metadata = {
  title: 'Antecedentes',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline={systemData.projectTitle.concat(" ").concat(systemData.company)}   
    
  >
 
    <Fragment slot="title">
      <span class="uppercase">Antecedentes</span><br />
      <!-- <span class="text-accent dark:text-white highlight"> Antecedentes      </span> -->
    </Fragment>

    <Fragment slot="content">
      <StructuredText freeText={`El Minimarket Mamilus, establecido en un entorno local, se dedica a la comercialización de productos de consumo diario como alimentos, bebidas, artículos de limpieza y productos básicos del hogar. A pesar de ser un negocio en crecimiento, enfrenta desafíos comunes en su operatividad debido a la falta de un sistema estructurado para la gestión de inventarios. Actualmente, el control de productos se lleva a cabo de forma manual mediante registros en libros o hojas de cálculo, lo que dificulta el seguimiento de las entradas y salidas de productos, y aumenta el riesgo de errores humanos.`} />
      <StructuredText freeText={`En la última década, los avances tecnológicos han permitido que incluso los pequeños negocios accedan a sistemas de gestión de inventarios que facilitan la automatización de procesos, la reducción de costos operativos y la mejora en la toma de decisiones. Sin embargo, muchas empresas, como Minimarket Mamilus, no han implementado este tipo de soluciones, ya sea por desconocimiento o por percibirlas como costosas y complejas.`} />
      <StructuredText freeText={`El éxito de negocios similares que han integrado sistemas automatizados de inventarios respalda la idea de que estos no solo optimizan la gestión, sino que también incrementan la satisfacción del cliente al garantizar la disponibilidad de productos esenciales. En este contexto, surge la necesidad de diseñar e implementar un sistema que se ajuste a las particularidades del Minimarket Mamilus, contribuyendo a su desarrollo sostenible y competitivo.`} />
    </Fragment>
  </Hero>

  <!--  -->
</Layout>
