---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { systemData } from '~/content/texts';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Planteamiento del Problema',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline={systemData.projectTitle.concat(' ').concat(systemData.company)}>
    <Fragment slot="title">
      <span class="uppercase">Planteamiento del Problema </span><br />
      <!-- <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span> -->
    </Fragment>

    <Fragment slot="content">
      <p class="mx-auto dark:text-slate-400 font-medium md:mt-3 mt-2 text-gray-500 text-xl motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade text-justify">
        El Minimarket Mamilus enfrenta problemas críticos relacionados con la gestión manual de inventarios, que afectan
        tanto la eficiencia operativa como la satisfacción del cliente. Entre las principales dificultades se
        encuentran:
      </p>

      <FAQs
        columns={1}
        items={[
          {
            title: 'Falta de control preciso',
            description:
              'El manejo manual genera inconsistencias en los registros, lo que dificulta conocer el estado real de las existencias.',
          },
          {
            title: 'Riesgo de desabastecimiento o sobrestock',
            description:
              'La falta de datos confiables complica la planificación adecuada, provocando la pérdida de ventas por falta de productos o gastos innecesarios por acumulación excesiva.',
          },
          {
            title: 'Baja eficiencia operativa',
            description:
              'El tiempo invertido en registrar, verificar y actualizar inventarios manualmente retrasa otros procesos importantes del negocio.',
          },
          {
            title: 'Limitada generación de reportes',
            description:
              'Los métodos actuales no permiten analizar patrones de ventas o comportamiento de productos, lo que dificulta la toma de decisiones estratégicas.',
          },
        ]}
      />

      <p  class="mx-auto dark:text-slate-400 font-medium text-gray-500 text-xl motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade text-justify">
        Estos problemas no solo afectan la operatividad interna, sino que también repercuten en la experiencia del cliente y, en última instancia, en la rentabilidad del negocio. Por lo tanto, resulta imperativo diseñar e implementar un sistema de gestión de inventarios que optimice estos procesos, minimice errores y brinde una base sólida para la toma de decisiones informadas.
      </p>
      
    </Fragment>
  </Hero>

  <!--  -->
</Layout>
