---
import { Icon } from 'astro-icon/components';
---
<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Enfoque del Proyecto:</span>
     Aplicación de técnicas de Análisis y Diseño Estructurado y Orientado a Objetos para la optimización y desarrollo de un Sistema de Gestión de Inventarios.
  </div>
</section>
