---
import { Icon } from 'astro-icon/components';
---
<section class="bg-blue-50 dark:bg-slate-800 py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 text-center text-md font-medium text-xl">
    <!-- Información Principal -->
    <!-- <h1 class="text-3xl font-bold mb-4">UNIVERSIDAD MAYOR DE SAN ANDRÉS</h1>
    <h2 class="text-2xl font-bold mb-2">FACULTAD DE CIENCIAS PURAS Y NATURALES</h2>
    <h2 class="text-xl font-bold mb-4">CARRERA DE INFORMÁTICA</h2>

    <p class="mt-6 text-lg font-bold">SISTEMA DE GESTIÓN DE ALMACENES</p>
    <p class="text-lg font-bold mb-4">MINIMARKET MAMIL’US</p> -->

     <!-- Materia y Otros Datos -->
     <p class="mt-4 font-medium">MATERIA: ANÁLISIS Y DISEÑO DE SISTEMAS I</p>
     <p class="mt-2 font-medium">PARALELO: “A”</p>

    <!-- Integrantes -->
    <div class="mt-6">
      <p class="font-medium mb-2">INTEGRANTES:</p>
      <ul class="list-disc pl-8 text-left">
        <li>Univ. Condori Cachaca Wilma Anahy</li>
        <li>Univ. Mamani Condori Carlos</li>
        <li>Univ. Poma Condori Erick Fernando</li>
        <li>Univ. Vargas Quispe Jhon</li>
        <li>Univ. Yujra Machaca Gabriel</li>
      </ul>
    </div>

    <!-- Docente -->
    <p class="mt-6 font-bold">DOCENTE: M. Sc. Miguel Cotaña Mier</p>

   

    
  </div>
</section>
