---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { systemData } from '~/content/texts';
import StructuredText from '~/components/widgets/StructuredText.astro';
import ImageCard from '~/components/widgets/ImageCard.astro';

const metadata = {
  title: 'Diagrama de Clases',
};


---

<Layout metadata={metadata}>
  <Hero tagline={systemData.projectTitle.concat(' ').concat(systemData.company)}>
    <Fragment slot="title">
      <span class="uppercase">Diagrama de Clases</span>
      <br />
      <!-- <span class="text-accent dark:text-white highlight">Modelo Ambiental</span> -->
    </Fragment>

    <Fragment slot="content">
      <!-- <h1 class="text-xl font-bold text-left motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        Diagrama de Clases
       </h1> -->
      <StructuredText
        freeText=" El Diagrama de Clases es una representación gráfica que muestra las clases, atributos, métodos y relaciones entre ellas en un sistema. Este diagrama es fundamental para modelar el diseño del software y entender las interacciones y responsabilidades de cada objeto en el sistema. "
      />
      <ImageCard src="/diagramas/Diagrama de Clases.jpg" alt="Diagrama de Clases" />
      <StructuredText
        freeText=" Este diagrama representa las clases del sistema y sus relaciones, mostrando cómo los objetos interactúan entre sí a nivel de clases. "
      />
      
     
    </Fragment>
  </Hero>

  <!--  -->
</Layout>
