---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { systemData } from '~/content/texts';
import StructuredText from '~/components/widgets/StructuredText.astro';

const metadata = {
  title: 'Alcances del proyecto.',
};
---

<Layout metadata={metadata}>
  <Hero tagline={systemData.projectTitle.concat(' ').concat(systemData.company)}>
    <Fragment slot="title">
      <span class="uppercase">Alcances del proyecto. </span>
      <br />
      <!-- <span class="text-accent dark:text-white highlight">Método, Medios e Instrumentos de Investigación</span> -->
    </Fragment>

    <Fragment slot="content">
      <section class="text-left text-xl">
        <!-- Alcances Funcionales -->
        <div class="mt-6 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade ">
          <h2 class="text-xl font-bold mb-2">Funcionales</h2>
          <ul class="list-disc ml-6 space-y-2 text-muted">
            <li>
              Registro y actualización de productos con información detallada (códigos, nombres, cantidades, fechas de
              ingreso, precios, etc.).
            </li>
            <li>Control automático de entradas y salidas de inventario.</li>
            <li>Generación de reportes dinámicos para análisis de existencias, ventas y tendencias.</li>
            <li>Alertas automatizadas para productos con bajo stock o fechas de vencimiento próximas.</li>
          </ul>
        </div>

        <!-- Alcances Técnicos -->
        <div class="mt-6 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade ">
          <h2 class="text-xl font-bold mb-2">Técnicos</h2>
          <ul class="list-disc ml-6 space-y-2 text-muted">
            <li>Sistema accesible desde dispositivos en red local o remota.</li>
            <li>Interfaz gráfica amigable, intuitiva y adaptada a usuarios con conocimientos básicos en tecnología.</li>
            <li>Seguridad en los datos mediante autenticación de usuarios y copias de respaldo periódicas.</li>
            <li>
              Diseño modular que permita la integración de futuras funcionalidades, como ventas o gestión de
              proveedores.
            </li>
          </ul>
        </div>

        <!-- Alcances Organizacionales -->
        <div class="mt-6 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade ">
          <h2 class="text-xl font-bold mb-2">Organizacionales</h2>
          <ul class="list-disc ml-6 space-y-2 text-muted">
            <li>Capacitación del personal mediante sesiones prácticas y manuales de usuario.</li>
            <li>Incorporación progresiva del sistema para reducir el impacto en la operación diaria del minimarket.</li>
            <li>
              Evaluación continua del sistema para implementar mejoras basadas en el feedback del personal y resultados
              observados.
            </li>
          </ul>
        </div>
      </section>
    </Fragment>
  </Hero>

  <!--  -->
</Layout>
