---

import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { systemData } from '~/content/texts';
import StructuredText from '~/components/widgets/StructuredText.astro';

const metadata = {
  title: 'Objetivo General',
};
---

<Layout metadata={metadata}>

  <Hero tagline={systemData.projectTitle.concat(' ').concat(systemData.company)}>

    <Fragment slot="title">
      <span class="uppercase"> Objetivo General </span>
    </Fragment>
    <Fragment slot="content">
      <StructuredText freeText="Diseñar e implementar un sistema de gestión de inventarios automatizado para el Minimarket Mamilus que mejore la eficiencia operativa, reduzca errores humanos y facilite la toma de decisiones estratégicas mediante datos confiables y en tiempo real."/>
    </Fragment>
  </Hero>

  <!--  -->
</Layout>
