---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Sistema de Gestion de inventarios Minimarket MAMILUS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   
    image={{ src: '~/assets/images/hero.svg', alt: 'Sistema gestion de inventarios Hero Image' }}
  >
    <Fragment slot="title">
      Sistema de Gestion de almacen Minimarket 
      <!-- <span class="hidden xl:inline">Sistema de Invetarios</span> -->
      <span class="text-accent dark:text-white highlight">MAMILUS</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SisAlmacen</span> es una solución diseñada para optimizar la gestión de productos
        con herramientas de análisis, seguimiento en tiempo real y generación de informes detallados.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">SisAlmacen: Eficiencia y Control.</span>
      Ideal para mejorar la eficiencia operativa, facilitar la integración con otros sistemas y garantizar una gestión continua
      y fluida.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

</Layout>