---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="VIDEO"
    
  >
    <Fragment slot="title">
       <span class="uppercase">Explora el Proyecto en Detalle</span>
    </Fragment>

    <Fragment slot="subtitle">
        En este video, te llevamos a el diseño conceptual y la visión detrás de la solución. 
    </Fragment>

    <Fragment slot="image">
      <YouTube id="W-D0tCwMb2o" title="Sistema de Gestion de almacen Minimarket MAMILUS" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="About us"
    subtitle="We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

 
  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  
  
  <!-- Features3 Widget ************** -->

  <Features3
    title="Háganos saber cómo podemos ayudar"
    subtitle="Estamos aquí para ayudar y responder cualquier pregunta que pueda tener."
    columns={4}
    items={[
      {
        title: 'Teléfono',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Llámenos',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Correo electrónico',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Escríbanos',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chatear con ventas',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Empiece a chatear',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chatear con soporte',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Empiece a chatear',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />


  
</Layout>
